.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  background-color: rgba(241, 241, 241, 0.7);
}
.calculator-grid > button:hover {
  background-color: rgb(194, 177, 155);
}
.span-two {
  grid-column: span 2;
}
.span-four {
  grid-column: span 4;
}
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.output .current-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.5rem;
}
